<style>
  .img {
    border-radius: 15px;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: contain;
    background: black;
  }

  .certs {

    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 40px;

  }

  .regs {
    width: 250px !important;
    height: 150px !important;
    object-fit: fill;
    cursor: pointer;
    border-radius: 20px !important;
  }

  .zoom-ns {
    transition: transform 1.5s;
  }

  .zoom-ns:hover {
    transform: scale(1.125);
  }

  .regs:hover+.tooltip {
    visibility: visible;
    opacity: 1;
    /* Adjust tooltip opacity on hover */
    transition: opacity 0.2s ease-in-out;
    /* Optional: Smooth opacity transition */
  }

  .tooltip {
    position: absolute;
    top: 100%;
    /* Position the tooltip below the image */
    left: 50%;
    transform: translateX(-50%);
    /* Center the tooltip horizontally */
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    /* Semi-transparent black background */
    color: white;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    /* Prevent tooltip text wrapping */
    opacity: 0;
    /* Initially hide the tooltip */
    transition: opacity 0.2s ease-in-out;
    /* Optional: Smooth opacity transition */
  }


  .img1 {
    width: 11vw;
    height: 230px;
  }

  .img2 {
    width: 11vw;
    height: 80px;
  }

  .img4 {
    width: 11vw;
    height: 200px;
    margin-top: 15px;
  }

  .img3 {
    width: 11vw;
    height: 80px;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 768px) {
    .col-md-2 {
        max-width: fit-content!important;
    }
}

</style>

<footer>
  <div class="footer-top-area gray-bg pt-30 pb-50">
    <div class="container">
      <div style="gap: 40px!important;" class="flex-row certs col-sm-12 ">
        <img href="https://www.cqc.org.uk/location/1-15752390847" data-tooltip="Verify our claims"
          tooltip="Verify our claims" class="col-sm-12 col-md-2 regs zoom-ns"
          src="/assets/img/CQC-Registered-scaled.jpg" />
        <img href="https://ico.org.uk/ESDWebPages/Entry/ZB332207" data-tooltip="Verify our claims"
          class="col-sm-12 col-md-2 regs zoom-ns" src="/assets/img/icoreg.webp" />
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-9">
          <div class="footer-widget mb-50">
            <div class="footer-logo mb-35">
              <a href="/"><img src="/assets/img/images/horizonatal.png" alt="" /></a>
            </div>
            <div class="footer-text mb-35">
              <p>
                ALL4ONE CARE SERVICES LIMITED is Domiciliary Care Company,
                Incorporated in England & Wales as a Private limited Company,
                with a registration number of <strong>13666845</strong>. We are registerered with
                the Care Quality Commission (CQC) and a member of United Kingdom
                Home Care Association (UKHCA).
              </p>
            </div>
       
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-9">
          <div class="footer-widget pt-30 mb-50">
            <div class="fw-title mb-40">
              <h4 class="title">related Links</h4>
            </div>
            <div class="fw-link">
              <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about-us">about us</a></li>
                <li><a href="/services">services</a></li>
                <li><a href="/supported-living-accomodations">accomodations</a></li>
                
              </ul>
              <ul>
                <li><a href="/careers">careers</a></li>
                <li><a href="/blog">blogs</a></li>
                <li><a href="/contact">contact</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-9">
          <div class="footer-widget pt-30 mb-50">
            <div class="fw-title mb-40">
              <h4 class="title">related news</h4>
            </div>
            <div class="fw-post">
              <ul>
                <% minimalFeeds.forEach(function(minimalFeed,index) { %>
                  <li>
                    <div class="fw-post-thumb">
                      <a href="/blog-details/<%= minimalFeed.id %>"><img style="max-width:60px;max-height: 60px;"
                          src="<%= minimalFeed.img %>"
                          alt="" /></a>
                    </div>
                    <div class="fw-post-content">
                      <span class="date"><%= minimalFeed.date %></span>
                      <h4>
                        <a href="/blog-details/<%= minimalFeed.id %>"><%= minimalFeed.title %></a>
                      </h4>
                    </div>
                  </li>
                <% }) %>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area gray-lite-bg">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="copyright-text">
            <h6>Copyright © 2021-2024 All Rights Reserved.</h6>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="copyright-right-wrap">
            <div class="copyright-form">
              <form id="newsletterForm" action="/api/v1/subscribe-newsletter" method="POST">
                <input style="text-transform: lowercase;" id="newsletterInput" type="email" name="email"
                  placeholder="enter email address" />
                <button onclick="subscribeNewsletter()" class="btn">Subscribe now</button>
              </form>
            </div>
            <button class="scroll-top scroll-to-target" data-target="html">
              <i class="fal fa-long-arrow-up"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="/assets/js/app/newsletter.js"></script>