<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <!-- Mirrored from ifingerstudio.com/templates/ALL4ONE-html/about-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 25 Feb 2024 10:23:17 GMT -->
  <%- include('../partials/head'); %>

  <body>
    <!-- preloader-start -->
    <div id="preloader">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div class="object" id="object_one"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_four"></div>
        </div>
      </div>
    </div>
    <!-- preloader-end -->

    <!-- header-area -->
    <%- include('../partials/header'); %>

    <!-- header-area-end -->

    <!-- main-area -->
    <main>
        <%- include('../partials/cookiesperm'); %>
      <!-- breadcrumb-area -->
      <section class="breadcrumb-area">
        <div
          class="breadcrumb-bg"
          data-background="assets/img/images/royaltyfree/doctor-taking-care-senior-woman-home_23-2148962376.png"

        ></div>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="breadcrumb-content">
                <h2 class="title">about us</h2>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      about us
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- breadcrumb-area-end -->

      <!-- about-us-area -->
      <section class="about-us-area about-style-four pt-120 pb-120">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-10">
              <div class="about-wrapper">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="about-img">
                      <img src="/assets/img/images/royaltyfree/lean-medium-shot-woman-wheelchair_23-2149315339.png" alt="" />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="about-img">
                      <img src="/assets/img/images/royaltyfree/lean-elderly-person-being-taken-care-by-female-caretaker_23-2150216382.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="about-exp-box">
                  <div class="about-exp-content">
                    <h2>
                      <span class="odometer" data-count="1">00</span
                      ><small>+</small>
                    </h2>
                    <h6>years Experience</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 pl-45">
              <div class="section-title mb-15">
                <h6 class="sub-title">about us</h6>
                <h2 class="title">what we do at ALL4ONE</h2>
              </div>
              <div class="about-us-content">
                <p>
                  ALL4ONE CARE SERVICES LIMITED is Domiciliary Care Company,
                  Incorporated in England & Wales as a Private limited Company,
                  with a registration number of 13666845. We are registerered
                  with the Care Quality Commission (CQC) and a member of United
                  Kingdom Home Care Association (UKHCA). We provide comprehensive person-centred
                  domiciliary care services to children aged 13-18, Adults aged
                  18-65 & Adults aged 65 years and beyond. We employ the
                  services of support/care staff who are experienced, have the
                  requisite skills, ability and are caring to provide a
                  comprehensive range of domiciliary, supported living and basic
                  nursing observations where necessary to our clients.
                </p>
                
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- about-us-area-end -->

      <!-- services-area -->
      <section class="services-area gray-bg pt-120 pb-90">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="section-title text-center mb-70">
                <h6 class="sub-title">services</h6>
                <h2 class="title">what we do here.</h2>
              </div>
            </div>
          </div>
          <div style="overflow-x: auto; max-width: 100vw; flex-wrap: nowrap!important;" class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-9">
              <div class="services-style-three-item mb-30">
                <div class="services-thumb">
                  <img src="/assets/img/images/royaltyfree/social-worker-taking-care-senior-woman_23-2149031342.png" alt="" />
                </div>
                <div class="services-content">
                  <h3>
                    <a href="/services-details">Dementia Patients</a>
                  </h3>
                  <p>
                    Home care for specialist dementia service users
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
              <div class="services-style-three-item mb-30">
                <div class="services-thumb">
                  <img src="/assets/img/images/royaltyfree/social-worker-taking-care-senior-woman_23-2149031342.png" alt="" />
                </div>
                <div class="services-content">
                  <h3><a href="/services-details">Mental Health</a></h3>
                  <p>
                    Home care for Mental Health service users (Young to Adults)
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
              <div class="services-style-three-item mb-30">
                <div class="services-thumb">
                  <img src="/assets/img/images/royaltyfree/portrait-disabled-senior-man-sitting-with-woman-nurse-nursing-home-looking-camera-retired-adult-wheelchair-getting-help-assistance.png" alt="" />
                </div>
                <div class="services-content">
                  <h3><a href="services-details.html">Special Needs</a></h3>
                  <p>
                    Home care for Learning Disabilities and Special needs service users
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="services-style-three-item mb-30">
                  <div class="services-thumb">
                    <img src="/assets/img/images/royaltyfree/mediums-hot-smiley-people-indoors_23-2148940028.png" alt="" />
                  </div>
                  <div class="services-content">
                    <h3><a href="/services-details">Elderly Care</a></h3>
                    <p>
                        Home care for End-of-life Care service users
                    </p>
                  </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
            <div class="services-style-three-item mb-30">
                <div class="services-thumb">
                <img src="/assets/img/images/royaltyfree/contented-senior-patient-with-kind-doctor-nursing-home-time-together_496169-733.png" alt="" />
                </div>
                <div class="services-content">
                <h3><a href="services-details.html">Brain Injury</a></h3>
                <p>
                    Home care for Brain Injury service users (non-medical Care)
                </p>
                </div>
            </div>
            </div>
          </div>
        </div>
      </section>
      <!-- services-area-end -->

      <!-- gallery-area -->
      <div class="gallery-area fix">
        <div class="container-fluid p-0">
          <div class="row no-gutters gallery-slide-active">
            <div class="col-xl-4">
              <div class="gallery-slide-item">
                <a
                  class="popup-image"
                  href="/assets/img/images/royaltyfree/car-doctor-talking-senior-man-indoors_23-2148962352.png"
                >
                  <div class="icon"><i class="fal fa-plus"></i></div>
                  <img
                    src="/assets/img/images/royaltyfree/car-doctor-talking-senior-man-indoors_23-2148962352.png"
                    alt=""
                  />
                </a>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="gallery-slide-item">
                <a
                  class="popup-image"
                  href="/assets/img/images/royaltyfree/car-happy-nurse-holding-laughing-elderly-man-hand-wheelchair-garden-nursing-home_554837-115.png"
                >
                  <div class="icon"><i class="fal fa-plus"></i></div>
                  <img
                    src="/assets/img/images/royaltyfree/car-happy-nurse-holding-laughing-elderly-man-hand-wheelchair-garden-nursing-home_554837-115.png"
                    alt=""
                  />
                </a>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="gallery-slide-item">
                <a
                  class="popup-image"
                  href="/assets/img/images/royaltyfree/car-man-nurse-teaching-retired-woman-with-disability-use-smartphone_482257-24444.png"
                >
                  <div class="icon"><i class="fal fa-plus"></i></div>
                  <img
                    src="/assets/img/images/royaltyfree/car-man-nurse-teaching-retired-woman-with-disability-use-smartphone_482257-24444.png"
                    alt=""
                  />
                </a>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="gallery-slide-item">
                <a
                  class="popup-image"
                  href="/assets/img/images/royaltyfree/car-nurse-helping-senior-woman-stand_53876-31396.png"
                >
                  <div class="icon"><i class="fal fa-plus"></i></div>
                  <img
                    src="/assets/img/images/royaltyfree/car-nurse-helping-senior-woman-stand_53876-31396.png"
                    alt=""
                  />
                </a>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="gallery-slide-item">
                <a
                  class="popup-image"
                  href="/assets/img/images/royaltyfree/car-old-woman-pushing-invalid-senior-husband-wheelchair-after-arriving-with-grocery-paper-bag-from-supermarket-mature-peopl.png"
                >
                  <div class="icon"><i class="fal fa-plus"></i></div>
                  <img
                    src="/assets/img/images/royaltyfree/car-old-woman-pushing-invalid-senior-husband-wheelchair-after-arriving-with-grocery-paper-bag-from-supermarket-mature-peopl.png"
                    alt=""
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- gallery-area-end -->

      <!-- newsletter-area -->
      <section class="newsletter-area cerise-bg pt-120 pb-110">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6">
              <div class="newsletter-title">
                <div class="icon">
                  <i class="flaticon-message"></i>
                </div>
                <div class="section-title full-white-title">
                  <h6 class="sub-title">subscribe</h6>
                  <h2 class="title">get newsletter</h2>
                </div>
              </div> 
            </div>
            <div class="col-xl-7 col-lg-6">
              <div class="newsletter-form">
                <form id="newsletterForm" action="/api/v1/subscribe-newsletter" method="POST">
                  <input style="text-transform: lowercase;" id="newsletterInput" type="email" placeholder="Enter email address" />
                  <button onclick="subscribeNewsletter()" class="btn">
                    <i class="fal fa-envelope"></i> subscribe now
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- newsletter-area-end -->
    </main>
    <!-- main-area-emd -->

    <!-- footer-area -->
    <%- include('../partials/footer'); %>
    <!-- footer-area-end -->

    <!-- JS here -->
    <%- include('../partials/scripts'); %>
  </body>

  <!-- Mirrored from ifingerstudio.com/templates/ALL4ONE-html/about-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 25 Feb 2024 10:23:25 GMT -->
</html>
