<!DOCTYPE html>
<html class="no-js" lang="zxx">
<%- include('../partials/head'); %>

  <style>
    
    .img {
      border-radius: 15px;
      margin-top: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      object-fit: contain;
      background: black;
    }

    .regs{
      width: 250px!important;
      height: 150px!important;
      object-fit: fill;
      cursor: pointer;
    }

    .img1 {
      width: 11vw;
      height: 230px;
    }

    .img2 {
      width: 11vw;
      height: 80px;
    }

    .img4 {
      width: 11vw;
      height: 200px;
      margin-top: 15px;
    }

    .img3 {
      width: 11vw;
      height: 80px;
    }

    .flex-row {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }

    .flex-col {
      display: flex;
      flex-direction: column;
    }

    .img-card {
      width: 25vw;
      height: 400px;
      background: white;
      border-radius: 20px;
      margin: 40px;
      cursor: pointer;
    }

    .img-card-content {
      height: 320px;
      margin-left: 10px;
    }

    .img-card-meta label {
      margin: 10px;
      font-size: large;
      font-weight: 400;
    }

    .flex-row-wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .divider {
      margin-top: 10px;
      background-color: #e6dede;
      ;
      height: 1px;
      width: 100%;
    }

    .pointer {
      cursor: pointer;
    }

    .glow-on-hover {
      border: 1px solid white;
      /* Set your desired base border color */
      border-radius: 10px;
      /* Add some rounded corners (optional) */
      transition: all 0.2s ease-in-out;
      /* Smooth transition effect */
    }

    .glow-on-hover:hover {
      box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
      /* Blue glow effect */
    }



    .image-container {
      position: relative;
      /* Enable positioning for the overlay */
    }



    .overlay {
      position: absolute;
      /* Position overlay on top of image */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      /* Dark translucent background */
      opacity: 1;
      /* Initially hide the overlay */
      transition: opacity 0.3s ease-in-out;
      /* Smooth transition on hover */
      display: flex;
      justify-content: center;
      /* Center content horizontally */
      align-items: center;
      border-radius: 10px;
      /* Center content vertically */
    }

    .overlay-text {
      color: white;
      font-size: 2em;
      /* Adjust font size as needed */
      font-weight: bold;
    }

    /* Styles for screens less than or equal to 767px (mobile) */
    @media screen and (max-width: 767px) {
      .flex-row-wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
      }

      .img-card {
        width: 100%;
        height: 400px;
        background: white;
        border-radius: 20px;
        cursor: pointer;
        margin: 0px;
        margin-top: 20px !important;
      }

      .flex-row {
        display: flex;
        flex-direction: row;
        gap: 0px !important;
      }

      .img,
      .img4 {
        width: 100% !important;
      }

      .modal-content {
        margin: 30% auto !important;
        height: 70vh !important;
      }

      .carousel-img {
        width: -webkit-fill-available !important;
      }

      #section-1 .content-slider nav .controls label {
        width: 6.5% !important;
      }

    }

    /* Styles for screens between 768px and 1024px (tablets) */
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .flex-row-wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
      }

      .img-card {
        width: 100%;
        height: 400px;
        background: white;
        border-radius: 20px;
        cursor: pointer;
        margin: 0px;
        margin-top: 20px !important;
      }

      .flex-row {
        display: flex;
        flex-direction: row;
        gap: 0px !important;
      }

      .img,
      .img4 {
        width: 100% !important;
      }

      .modal-content {
        margin: 20% auto !important;
        height: 70vh !important;
      }

      .carousel-img {
        width: -webkit-fill-available !important;
      }

      #section-1 .content-slider nav .controls label {
        width: 5% !important;
      }

    }

    /* Styles for screens between 768px and 1024px (tablets) */
    @media screen and (min-width: 1025px) {
      .img-card {
        width: 35vw !important;
      }

      .img-card-content {
        margin-left: 0px !important;

      }

      .img,
      .img4 {
        width: 100% !important;
      }

      .col-sm-6 {
        -ms-flex: 50% !important;
        flex: 50% !important;
        /* max-width: 50%; */
      }

      .modal-content {
        margin: 13% auto !important;
        height: 70vh !important;
      }

      .carousel-img {
        width: -webkit-fill-available !important;
      }
    }
  </style>
  <script>
    function openModal(id) {
      document.body.classList.add('modal-open'); // Add class to body on open
      document.querySelector(".modal").style.display = 'block'
      document.querySelector(".modal").style.display = 'block'
      const modalStore = document.getElementById(`store-${id}`);
      const activeData = JSON.parse(modalStore.value);
      renderSlider(activeData);
    }

    function closeModal() {
      document.body.classList.remove('modal-open'); // Remove class to body on close
      document.querySelector(".modal").style.display = 'none'
      // Your modal closing logic here...
    }

  </script>
  <script>


    function renderSlider(activeData) {
      console.log("Active data for rendering ", activeData)
      const contentSlider = document.querySelector('.content-slider');
      const slider = document.querySelector('.slider');
      const controls = document.querySelector('.controls');

      // slider.innerHTML = ''; // Clear existing content
      controls.innerHTML = ''; // Clear existing content

      if (activeData?.images?.length > 0) {
        activeData.images.forEach((image, index) => {
          // Create Radio Button
          const radioInput = document.createElement('input');
          radioInput.type = 'radio';
          radioInput.id = `banner${index + 1}`;
          radioInput.classList.add('sec-1-input');
          radioInput.name = 'banner';
          if (index === 0) {
            radioInput.checked = true;
          }
          contentSlider.appendChild(radioInput);

          // Create Image Banner
          const banner = document.createElement('div');
          banner.id = `top-banner-${index + 1}`;
          banner.classList.add('banner');
          const bannerInnerWrapper = document.createElement('div');
          bannerInnerWrapper.classList.add('banner-inner-wrapper');
          const bannerImage = document.createElement('img');
          bannerImage.classList.add('carousel-img', 'img-primary');
          bannerImage.src = image.replaceAll('\\', '\\'); // Escape backslashes
          bannerInnerWrapper.appendChild(bannerImage);

          banner.appendChild(bannerInnerWrapper);
          slider.appendChild(banner);

          // Create Navigation Label
          const label = document.createElement('label');
          label.for = `banner${index + 1}`;
          const progressBar = document.createElement('div');
          progressBar.classList.add('progressbar');
          const progressBarFill = document.createElement('span');
          progressBarFill.classList.add('progressbar-fill');
          progressBar.appendChild(progressBarFill);
          const labelNumber = document.createElement('span');
          let val = index + 1;
          if (val < 10) {
            val = '0' + (val).toString();
          }
          labelNumber.textContent = val
          label.appendChild(progressBar);
          label.appendChild(labelNumber);
          label.addEventListener('click', () => {
            const labels = document.querySelector(`.controls`).childNodes;
            const banners = document.querySelectorAll(`.banner`);
            banners.forEach((banner) => {
              banner.style.opacity = '0';
            })

            labels.forEach((label) => {
              label.querySelector('span').removeAttribute('style')
            })
            // For example, you might programmatically select the corresponding radio button
            const radioButton = document.getElementById(`banner${index + 1}`);
            radioButton.checked = true;
            const bannerId = 'top-' + `banner-${index + 1}`
            const banner = document.getElementById(bannerId);
            banner.style.opacity = '1';
            // lastBanner = banner;

            const label = labels[index];
            if (label) {
              label.querySelector('.progressbar-fill').style.animation = 'progressBarFill 5s linear';
              lastLabel = label;
            }
          });
          controls.appendChild(label);
        })
      }
    }    
  </script>

  <body>
    <!-- preloader-start -->
    <div id="preloader">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div class="object" id="object_one"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_four"></div>
        </div>
      </div>
    </div>
    <!-- preloader-end -->

    <!-- header-area -->
    <%- include('../partials/header'); %>
      <%- include('../partials/swipermodal'); %>
        <!-- header-area-end -->

        <!-- main-area -->
        <main>
          <%- include('../partials/cookiesperm'); %>
            <!-- breadcrumb-area -->
            <section class="breadcrumb-area">
              <div class="breadcrumb-bg"
                data-background="assets/img/images/royaltyfree/doctor-taking-care-senior-woman-home_23-2148962376.png">
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <div class="breadcrumb-content">
                      <h2 class="title">ACCOMODATIONS</h2>
                      <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item">
                            <a href="/">Home</a>
                          </li>
                          <li class="breadcrumb-item active" aria-current="page">
                            appointment
                          </li>
                        </ol>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- contact-area -->
            <div class="contact-area pt-120">
              <div style="max-width:97vw; max-height: fit-content; background: whitesmoke;" class="container">
                <div style="width:97vw;" class="row">
                  <div class="col-12">
                    <div style="justify-content: space-evenly;" class="flex-row-wrap">
                      <% context?.forEach(function(accomodation, index) { %>
                        <input hidden id="store-<%= accomodation._id%>" value="<%= JSON.stringify(accomodation) %>" />
                        <div id="<%= accomodation._id%>" onclick="openModal(`<%= accomodation._id%>`)"
                          class="img-card zoom">
                          <% if (accomodation?.images.length>= 4) { %>
                            <div class="img-card-content flex-row">
                              <div class="flex-col col-sm-6">
                                <img class="img img1 glow-on-hover img-primary" src="<%= accomodation?.images[0] %>" />
                                <img class="img img2 glow-on-hover" src="<%= accomodation?.images[1]%>" />
                              </div>
                              <div class="flex-col col-sm-6">
                                <img class="img img3 glow-on-hover" src="<%= accomodation?.images[2]%>" />
                                <div class="image-container img4 glow-on-hover">
                                  <img style="margin-top:0px" class="img img4 glow-on-hover"
                                    src="<%= accomodation?.images[3]%>" alt="Image with overlay">
                                  <% if (accomodation?.images.length> 4) { %>
                                    <div class="overlay">
                                      <span class="overlay-text zoom">+<%= (accomodation?.images.length - 4)%></span>
                                    </div>
                                    <% }; %>

                                </div>
                                <!-- <img class="img img4 glow-on-hover" src="/assets/img/accomodations/upminster/IMG-20240426-WA0040.jpg"/> -->
                              </div>
                            </div>
                            <% } %>
                              <% if (accomodation?.images.length==3) { %>
                                <div class="img-card-content flex-row">
                                  <div class="flex-col col-sm-6">
                                    <img class="img img1 glow-on-hover img-primary"
                                      src="<%= accomodation?.images[0] %>" />
                                    <img class="img img2 glow-on-hover" src="<%= accomodation?.images[1]%>" />
                                  </div>
                                  <div class="flex-col col-sm-6">
                                    <img style="height: 100%;" class="img img3 glow-on-hover"
                                      src="<%= accomodation?.images[2]%>" />
                                    <!-- <img class="img img4 glow-on-hover" src="/assets/img/accomodations/upminster/IMG-20240426-WA0040.jpg"/> -->
                                  </div>
                                </div>
                                <% } %>
                                  <% if (accomodation?.images.length==2) { %>
                                    <div class="img-card-content">
                                      <div style="height: 100%;" class="flex-col col-sm-12">
                                        <img style="height:47%;width:100%" class="img img1 glow-on-hover img-primary"
                                          src="<%= accomodation?.images[0] %>" />
                                        <img style="height:47%;width:100%" class="img img2 glow-on-hover"
                                          src="<%= accomodation?.images[1]%>" />
                                      </div>
                                    </div>
                                    <% } %>
                                      <% if (accomodation?.images.length==1) { %>
                                        <div class="img-card-content">
                                          <div style="height: 100%;" class="flex-col col-sm-12">
                                            <img style="height:94%;width:100%"
                                              class="img img1 glow-on-hover img-primary"
                                              src="<%= accomodation?.images[0] %>" />
                                          </div>
                                        </div>
                                        <% } %>
                                          <div class="divider"></div>
                                          <div class="img-card-meta flex-row">
                                            <div>
                                              <!-- <label>Location: <%= accomodation?.name %>, <%= accomodation?.location %></label> -->
                                              <label>Supported Living <%= index + 1 %></label>
                                            </div>

                                          </div>
                        </div>
                      <% }) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div style="gap: 20px;justify-content: space-evenly;margin-top: 50px;" class="flex-row">
              <img class="regs" src="/assets/img/CQC-Registered-scaled.jpg"/>
              <img class="regs" src="/assets/img/icoreg.webp"/>
            </div>

        </main>
        <!-- main-area-emd -->

        <!-- footer-area -->
        <%- include('../partials/footer'); %>
          <%- include('../partials/scripts'); %>
  </body>

</html>