<!DOCTYPE html>
<html class="no-js" lang="zxx">
<%- include('../partials/head'); %>

    <body>
        <!-- preloader-start -->
        <div id="preloader">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_four"></div>
                </div>
            </div>
        </div>
        <!-- preloader-end -->

        <!-- header-area -->

        <%- include('../partials/header'); %>
            <!-- header-area-end -->

            <!-- main-area -->
            <main>
                <%- include('../partials/cookiesperm'); %>
                    <!-- breadcrumb-area -->
                    <section class="breadcrumb-area">
                        <div class="breadcrumb-bg"
                            data-background="assets/img/images/royaltyfree/doctor-taking-care-senior-woman-home_23-2148962376.png">
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="breadcrumb-content">
                                        <h2 class="title">administration</h2>
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item">
                                                    <a href="/">Home</a>
                                                </li>
                                                <li class="breadcrumb-item active" aria-current="page">
                                                    administration
                                                </li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <div style="margin-bottom: 120px;" class="contact-area pt-120">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="contact-form-wrap">
                                        <h3>Accomodations</h3>
                                        <%- include('../pages/adminpanelhost'); %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </main>
            <form id="adminForm" action="/admin" method="GET">
                <input type="hidden" name="_t" value="">
            </form>

            <%- include('../partials/footer'); %>
                <%- include('../partials/scripts'); %>
                    <!-- <script>
                        const token = localStorage.getItem('_t');
                        const adminForm = document.getElementById('adminForm');
                        adminForm.elements._t.value = btoa(token);
                        adminForm.submit();
                    </script> -->

    </body>

    <!-- Mirrored from ifingerstudio.com/templates/wellpress-html/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 25 Feb 2024 10:24:10 GMT -->

</html>