<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <%- include('../partials/head'); %>

  <body>
    <!-- preloader-start -->
    <div id="preloader">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div class="object" id="object_one"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_four"></div>
        </div>
      </div>
    </div>
    <!-- preloader-end -->

    <!-- header-area -->
    <%- include('../partials/header'); %>
    <!-- header-area-end -->

    <!-- main-area -->
    <main>
      <%- include('../partials/cookiesperm'); %>
      <!-- breadcrumb-area -->
      <section class="breadcrumb-area">
        <div
          class="breadcrumb-bg"
                data-background="assets/img/images/royaltyfree/doctor-taking-care-senior-woman-home_23-2148962376.png"

        ></div>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="breadcrumb-content">
                <h2 class="title">Appointment</h2>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="index-2.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      appointment
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- breadcrumb-area-end -->

      <!-- contact-area -->
      <div class="contact-area pt-120">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="contact-form-wrap">
                <form action="#">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-grp">
                        <input
                          type="text"
                          name="name"
                          placeholder="Enter full name"
                        />
                        <i class="fal fa-user"></i>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-grp">
                        <input
                          type="email"
                          name="email"
                          placeholder="Enter your email"
                        />
                        <i class="fal fa-envelope"></i>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-grp">
                        <input
                          type="datetime-local"
                          name="date"
                        />
                        <i class="fal fa-envelope"></i>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-grp">
                        <input
                          type="text"
                          name="phone"
                          placeholder="Phone Number"
                        />
                        <i class="fal fa-phone"></i>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-grp">
                        <select class="custom-select">
                          <option selected="">Select Subject</option>
                          <option>medical care</option>
                          <option>resident care</option>
                          <option>independent</option>
                          <option>memory care</option>
                        </select>
                        <i class="fal fa-arrow-down"></i>
                      </div>
                    </div>
                  </div>
                  <div class="form-grp">
                    <textarea
                      name="message"
                      id="message"
                      placeholder="Enter messages"
                    ></textarea>
                    <i class="fal fa-pencil"></i>
                  </div>
                  <button class="btn">submit your quote</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
   
    </main>
    <!-- main-area-emd -->

    <!-- footer-area -->
    <%- include('../partials/footer'); %>
    <!-- footer-area-end -->
    <!-- JS here -->
    <%- include('../partials/scripts'); %>
  </body>

</html>
