<!doctype html>
<html class="no-js" lang="zxx">
<!-- Mirrored from ifingerstudio.com/templates/ALL4ONE-html/blog-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 25 Feb 2024 10:24:04 GMT -->
<%- include('../partials/head'); %>
    <style>
        .breadcrumb-content {
            max-width: none !important;
        }

        .breadcrumb-content .title {
            font-size: 62px;
            letter-spacing: 0px;
        }

        .breadcrumb-area{
            padding: 0px!important;
        }

        .table-of-contents {
            position: fixed;
            width: 286.5px;
            margin-top: 0px;
            margin-bottom: 0px;
            top: 130px;
            inset-inline-start: 10px;
        }

        .related-blog-img {
            height: 192px;
            object-fit: cover;
            width: -webkit-fill-available;
        }

        .blog-title{
            color: orange!important;
        }

        .title{
            font-size: 2.3em!important;
        }

        .blog-img {
            /* width: 31vw !important;
      height: 32vh; */
            border-top-right-radius: 40px;
            border-bottom-left-radius: 40px;
        }

        .blog--post--content {
            padding: 0px !important;
            background: #fff;
            border: 0 !important;
        }

        .flex-row-wrap {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: start;
        }

        @media screen and (max-width: 767px) {
            .flex-col-wrap-reverse {
                display: flex;
                flex-direction: column-reverse !important;
                flex-wrap: wrap;
                align-items: center;
            }
        }
    </style>

    <body>
        <!-- preloader-start -->
        <div id="preloader">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_four"></div>
                </div>
            </div>
        </div>
        <!-- preloader-end -->
        <!-- header-area -->
        <%- include('../partials/header'); %>
            <!-- header-area-end -->
            <!-- main-area -->
            <main>
                <%- include('../partials/cookiesperm'); %>
                    <!-- breadcrumb-area -->
                    <section class="breadcrumb-area">
                        <div class="breadcrumb-bg" data-background="img/bg/breadcrumb_bg.jpg"></div>
                        <div style="padding-top: 0px!important;" class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="breadcrumb-content">
                                        <h2 class="title">
                                            <%= context.title %>
                                        </h2>
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                                <li class="breadcrumb-item active" aria-current="page">
                                                    <%= context.title %>
                                                </li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- breadcrumb-area-end -->
                    <section style="margin-top: 30px;" class="container">
                        <div>
                            <%= context.debrief %>
                        </div>
                    </section>
                    <!-- blog-details-area -->
                    <section class="blog-area pt-30 pb-30">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-12">
                                    <div class="blog--post--item">
                                        <div class="blog--post--content blog-details-content">
                                            <div class="blog--tag">
                                                <a href="#">Blog</a>
                                            </div>
                                            <div class="blog-section">
                                                <h2 class="blog-title">
                                                    <%= context.sections[0].title %>
                                                </h2>
                                                <div class="blog--post--meta mb-20">
                                                    <ul>
                                                        <li><i class="far fa-user"></i><span>Source: </span><a href="#"><%= context.sections[0].source %></a>
                                                        </li>
                                                        <li><span><i class="far fa-calendar-alt"></i><%= context.sections[0].date %></span>
                                                        </li>
                                                        <li><a href="#"><i class="far fa-comments"></i>35 Comments</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div style="<%= context.sections[0].imageAlign%>"
                                                    class="flex-col-wrap-reverse flex-row-wrap">
                                                    <div class="col-sm-12 col-md-12 col-lg-6">
                                                        <% context.sections[0].paragraph.forEach(function(paragraph,
                                                            index) { %>
                                                            <p>
                                                                <%= paragraph %>
                                                            </p>
                                                            <% }) %>
                                                    </div>
                                                    <div class="blog-details-post-thumb col-sm-12 col-md-12 col-lg-6">
                                                        <img class="blog-img"
                                                            src="/assets/img/blogs/senior-citizen-is-depressed-or-agitated-being-calmed-by-his-companion-.jpg"
                                                            alt="img">
                                                        <% if (context.sections[0]?.beneathImg) { %>
                                                            <p style="margin-top: 30px;">
                                                                <%= context.sections[0].beneathImg %>
                                                            </p>
                                                            <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                            <% context.sections.forEach(function(section, index) { %>
                                                <% if (index!=0) { %>
                                                    <div class="blog-section">
                                                        <br>
                                                        <hr>
                                                        <h2 class="blog-title">
                                                            <%= section.title %>
                                                        </h2>
                                                        <div style="<%= section.imageAlign%>"
                                                            class="flex-col-wrap-reverse flex-row-wrap">
                                                            <% if (section.imageSrc) { %>
                                                                <div class="col-sm-12 col-md-12 col-lg-6">
                                                                    <% section.paragraph.forEach(function(paragraph,
                                                                        index) { %>
                                                                        <p>
                                                                            <%= paragraph %>
                                                                        </p>
                                                                        <% }) %>
                                                                </div>
                                                                <div
                                                                    class="blog-details-post-thumb col-sm-12 col-md-12 col-lg-6">
                                                                    <img class="blog-img" src="<%= section.imageSrc %>"
                                                                        alt="img">
                                                                    <% if (section?.beneathImg) { %>
                                                                        <p style="margin-top: 30px;">
                                                                            <%= section.beneathImg %>
                                                                        </p>
                                                                        <% } %>
                                                                </div>
                                                                <% } else { %>
                                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                                        <% section.paragraph.forEach(function(paragraph,
                                                                            index) { %>
                                                                            <p>
                                                                                <%= paragraph %>
                                                                            </p>
                                                                            <% }) %>
                                                                                <% if (section?.listable) { %>
                                                                                    <div class="row">
                                                                                        <div class="col-md-12 col-sm-6">
                                                                                            <div
                                                                                                class="portfolio-details-list">
                                                                                                <ul>
                                                                                                    <% section?.listable.forEach(function(item,index)
                                                                                                        { %>
                                                                                                        <li>
                                                                                                            <i
                                                                                                                class="fal fa-check"></i>
                                                                                                            <span>
                                                                                                                <%= item
                                                                                                                    %>
                                                                                                            </span>
                                                                                                        </li>
                                                                                                        <% }) %>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <% } %>
                                                                    </div>
                                                                    <% } %>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                        <% }) %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="blog-area pb-70">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <div class="section-title text-center mb-70">
                                        <h6 class="sub-title">blog</h6>
                                        <h2 class="title">related feeds</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <% relatedFeeds.forEach(function(feed,index){ %>
                                    <div class="col-lg-4 col-md-6 col-sm-8">
                                        <div class="blog-post-item bp-style-two mb-30">
                                            <div class="blog-post-thumb position-relative">
                                                <a href="/blog-details/<%= feed.id %>"><img class="related-blog-img" src="<%= feed.img %>"
                                                        alt=""></a>
                                                <a href="#" class="overlay-post-tag">
                                                    <%= feed.caption %>
                                                </a>
                                            </div>
                                            <div class="blog-post-content">
                                                <h2>
                                                    <a href="/blog-details/<%= feed.id %>">
                                                        <%= feed.title %>
                                                    </a>
                                                </h2>
                                                <div class="blog-post-meta">
                                                    <ul>
                                                        <li>
                                                            <i class="fal fa-user"></i>Source: <a href="#">
                                                                <%= feed.source %>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fal fa-calendar-alt"></i>
                                                            <%= feed.date %>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>

                            </div>
                        </div>
                    </section>
                    <input hidden type="text" id="pageTitle" value="<%= pageTitle || 'All4One' %>" />
                    <!-- blog-details-area-end -->
            </main>
            <!-- main-area-emd -->
            <!-- footer-area -->
            <%- include('../partials/footer'); %>
                <!-- footer-area-end -->
                <!-- JS here -->
                <%- include('../partials/scripts'); %>
                    <script>
                        const title = document.querySelector('title');
                        title.textContent = document.getElementById('pageTitle').value;
                    </script>
    </body>
    <!-- Mirrored from ifingerstudio.com/templates/ALL4ONE-html/blog-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 25 Feb 2024 10:24:10 GMT -->

</html>