<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <%- include('../partials/head'); %>

  <body>
    <!-- preloader-start -->
    <div id="preloader">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div class="object" id="object_one"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_four"></div>
        </div>
      </div>
    </div>
    <!-- preloader-end -->

    <!-- header-area -->
    <%- include('../partials/header'); %>
    <!-- header-area-end -->

    <!-- main-area -->
    <main>
        <%- include('../partials/cookiesperm'); %>
      <!-- breadcrumb-area -->
      <section class="breadcrumb-area">
        <div
          class="breadcrumb-bg"
                data-background="assets/img/images/royaltyfree/doctor-taking-care-senior-woman-home_23-2148962376.png"

        ></div>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="breadcrumb-content">
                <h2 class="title">contact us</h2>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="index-2.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      contact
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- breadcrumb-area-end -->

      <!-- contact-area -->
      <div style="margin-bottom: 120px;" class="contact-area pt-120">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="contact-form-wrap">
                <form id="getInTouchForm">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-grp">
                        <input
                            id="getintouch-name"
                          type="text"
                          name="name"
                          placeholder="Enter full name"
                        />
                        <i class="fal fa-user"></i>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-grp">
                        <input
                        id="getintouch-email"
                          type="email"
                          name="email"
                          placeholder="Enter your email"
                        />
                        <i class="fal fa-envelope"></i>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-grp">
                        <input
                        id="getintouch-phone"
                          type="text"
                          name="phone"
                          placeholder="Phone Number"
                        />
                        <i class="fal fa-phone"></i>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-grp">
                        <select id="getintouch-reason" class="custom-select">
                          <option selected="">Select Reason</option>
                          <option>medical care</option>
                          <option>resident care</option>
                          <option>independent</option>
                          <option>memory care</option>
                        </select>
                        <i class="fal fa-arrow-down"></i>
                      </div>
                    </div>
                  </div>
                  <div class="form-grp">
                    <textarea
                    id="getintouch-message"
                      name="message"
                      id="message"
                      placeholder="Enter messages"
                    ></textarea>
                    <i class="fal fa-pencil"></i>
                  </div>
                  <button id="getintouch-submit" class="btn">submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- contact-area-end -->

      <!-- contact-area -->
      <div class="contact-info-area pb-90 pt-35">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-9">
              <div class="contact-info-box mb-30">
                <div class="contact-info-box-head">
                  <h3 class="text-left">Essex Branch Office</h3>
                  <span>You are always welcome to visit us at the office.</span>
                </div>
                <div class="contact-info-box-content">
                  <ul>
                    <li>
                      <i class="fal fa-phone"></i>
                      <span><a href="tel:+44 (0) 1708987738">+44 (0) 1708987738</a></span>
                    </li>
                    <li>
                      <i class="fal fa-envelope"></i>
                      <span><a href="mailto:info@all4onecareservices.co.uk">info@all4onecareservices.co.uk</a></span>
                    </li>
                    <li>
                      <i class="fal fa-map-marker-alt"></i>
                      <span>Office 4, 9A HIGH STREET INGATESTONE, ESSEX CM4 9ED</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6 col-sm-9">
              <div class="contact-info-box mb-30">
                <div class="contact-info-box-head">
                  <h3>Warsaw Branch Office</h3>
                  <span>Lorem ipsum dolor sit amet, consectetur adi</span>
                </div>
                <div class="contact-info-box-content">
                  <ul>
                    <li>
                      <i class="fal fa-phone"></i>
                      <span>987-098-876-98</span>
                    </li>
                    <li>
                      <i class="fal fa-envelope"></i>
                      <span>info@webmail.com</span>
                    </li>
                    <li>
                      <i class="fal fa-map-marker-alt"></i>
                      <span>14/A, Monster Tower City Hall New York, US</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
              <div class="contact-info-box mb-30">
                <div class="contact-info-box-head">
                  <h3>Middles Branch Office</h3>
                  <span>Lorem ipsum dolor sit amet, consectetur adi</span>
                </div>
                <div class="contact-info-box-content">
                  <ul>
                    <li>
                      <i class="fal fa-phone"></i>
                      <span>987-098-876-98</span>
                    </li>
                    <li>
                      <i class="fal fa-envelope"></i>
                      <span>info@webmail.com</span>
                    </li>
                    <li>
                      <i class="fal fa-map-marker-alt"></i>
                      <span>14/A, Monster Tower City Hall New York, US</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <!-- contact-area-end -->
    </main>
    <!-- main-area-emd -->

    <!-- footer-area -->
    <%- include('../partials/footer'); %>
    <!-- footer-area-end -->
    <!-- JS here -->
    <%- include('../partials/scripts'); %>
  </body>

  <!-- Mirrored from ifingerstudio.com/templates/wellpress-html/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 25 Feb 2024 10:24:10 GMT -->
</html>
