<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <!-- Mirrored from ifingerstudio.com/templates/ALL4ONE-html/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 25 Feb 2024 10:22:58 GMT -->
  <%- include('../partials/head'); %>
  <body>
    <!-- preloader-start -->
    <div id="preloader">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div class="object" id="object_one"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_four"></div>
        </div>
      </div>
    </div>
    <!-- preloader-end -->

    <!-- header-area -->
    <%- include('../partials/header'); %>
    <!-- header-area-end -->

    <!-- main-area -->
    <main>
      <!-- banner-area -->
      <%- include('../partials/cookiesperm'); %>
      <section
        class="banner-area banner-bg"
        data-background="/assets/img/images/main-image.jpg"
      >
        <div class="container">
          <div class="row">
            <div class="col-xl-5 col-lg-7">
              <div class="banner-content">
                <h2>Domiciliary Care and  Supported Living Services</h2>
                <div class="banner-btn-wrap">
                  <a href="/appointment" class="btn">Make Appointment</a>
                  <!-- <a
                    href="https://www.youtube.com/watch?v=q_sWiwI3yP0"
                    class="banner-video-btn popup-video"
                    ><i class="fas fa-play"></i> intro video</a
                  > -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="trend-news">
          <div class="trend-news-thumb">
            <a href="/blog-details"
              ><img src="/assets/img/blog/tread_news_thumb.jpg" alt=""
            /></a>
          </div>
          <div class="trend-news-content">
            <span>Trend news</span>
            <h5>
              <a href="/blog-details"
                >Lorem ipsum dolor sit amet, consectetur.</a
              >
            </h5>
            <div class="trend-news-meta">
              <ul>
                <li class="date">24th march 2021</li>
                <li>by <a href="#">admin</a></li>
              </ul>
            </div>
          </div>
        </div> -->
      </section>
      <!-- banner-area-end -->

      <!-- about-us-area -->
      <section class="about-us-area about-style-two pt-120 pb-60">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <!-- <div class="col-lg-6 col-md-10">
              <div class="about-img-wrap position-relative">
                <div class="row">
                  <div class="col-6">
                    <div class="about-img">
                      <img
                        src="/assets/img/images/old-white-woman-sitting.jpeg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="about-img">
                      <img
                        src="/assets/img/images/old-black-woman-sitting.jpeg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="about-img">
                      <img
                        src="/assets/img/images/old-white-woman-standing.jpeg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="about-img">
                      <img
                        src="/assets/img/images/old-white-woman-standing.jpeg"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
                <div class="about-exp-box">
                  <div class="about-exp-icon mb-10">
                    <img src="/assets/img/icon/trophy_icon.png" alt="" />
                  </div>
                  <div class="about-exp-content">
                    <h2>
                      <span class="odometer" data-count="1">00</span
                      ><small>+</small>
                    </h2>
                    <h6>years Of Experience</h6>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="col-lg-12 pl-50">
              <div class="section-title mb-15">
                <h6 class="sub-title">about us</h6>
                <h2 class="title">All4OneCare Services</h2>
              </div>
              <div class="about-us-content">
                <p>
                  ALL4ONE CARE SERVICES LIMITED is Domiciliary Care Company,
                  Incorporated in England & Wales as a Private limited Company,
                  with a registration number of 13666845. We are registerered
                  with the Care Quality Commission (CQC) and a member of United
                  Kingdom Home Care Association (UKHCA). We provide comprehensive person-centred
                  domiciliary care services to children aged 13-18, Adults aged
                  18-65 & Adults aged 65 years and beyond. We employ the
                  services of support/care staff who are experienced, have the
                  requisite skills, ability and are caring to provide a
                  comprehensive range of domiciliary, supported living and basic
                  nursing observations where necessary to our clients.
                </p>
                <div class="about-inner-wrap">
                  <p>
                    We provide generic (core) and specialist service to
                    include:<br />
                    <strong>&#8226;</strong> Home care for specialist dementia
                    service users<br />
                    <strong>&#8226;</strong> Home care for Mental Health service
                    users (Young to Adults)<br />
                    <strong>&#8226;</strong> Home care for Learning Disabilities
                    and Special needs service users<br />
                    <strong>&#8226;</strong> Home care for End-of-life Care
                    service users<br />
                    <strong>&#8226;</strong> Home care for Brain Injury service
                    users (non-medical Care)
                  </p>
                  <!-- <h5>Taye Oyelekan /Founder</h5> -->
                </div>
              </div>
            </div>
            <div class="pt-35 col-lg-12">
                <div class="skill-img" style="position: relative">
                  <img
                    style="width: 100%; height: 400px; object-fit: cover"
                    src="/assets/img/images/royaltyfree/male-social-worker-taking-care-old-woman_23-2149031318.png"
                    alt=""
                  />
                  <div
                    style="
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      background-color: rgba(0, 0, 0, 0.5);
                    "
                  ></div>
                </div>
              </div>
          </div>
        </div>
      </section>
      <!-- about-us-area-end -->

      <!-- skill-area -->
      <section class="skill-area pt-10 pb-20 mb-0">
        <div class="container">
          <div class="col align-items-center">
            <div class="col-lg-12">
              <div class="section-title mb-50">
                <h6 class="sub-title">aims</h6>
                <h2 class="title">Our Aims and Objectives</h2>
                <p class="title-paragraph">
                  <p
                    >We aim to provide the highest possible standards of care to
                    all our clients. Our person-centred care approach is
                    promoted to meet each of our service user’s unique and
                    lifestyle needs. We aim to provide a homely environment
                    where care and support is provided involving all our
                    clients, their relatives, friends, medical professionals and
                    other relevant personnel as appropriate to meet the
                    essential needs of our clients.</p
                  >
                  <br />
                  <br />
                  <strong>&#8226;</strong> Offer skilled care to enable people
                  supported by us to achieve their optimum state of health and
                  well-being.<br /><br />
                  <strong>&#8226;</strong> Treat all people supported by us and
                  all people who work here with respect at all times.<br /><br />
                  <strong>&#8226;</strong> Uphold the human and citizenship
                  rights of all who work and visit here and of all Service
                  Users.<br /><br />
                  <strong>&#8226;</strong> Respect and encourage the right of
                  independence of all Service Users.<br /><br />
                  <strong>&#8226;</strong> Recognise the individual uniqueness
                  of Service Users, staff and visitors, and always treat them
                  with dignity and respect.<br /><br />
                  <strong>&#8226;</strong> Recognise the individual need for
                  personal fulfilment and offer person-centred programs of
                  meaningful activity to satisfy that need of Service Users and
                  staff.<br /><br />
                  <strong>&#8226;</strong> Respect individual requirement for
                  privacy at all times and treat all information relating to
                  individuals in a confidential manner according to principles
                  of GDPR<br />
                </p>
              </div>
              
            </div>
          
          </div>
        </div>
      </section>
      <!-- skill-area-end -->

      <!-- skill-area -->
      <section class="skill-area pt-10 pb-20 mb-0">
        <div class="container">
          <div class="col align-items-center">
            <div class="col-lg-12">
              <div class="section-title mb-50">
                <h6 class="sub-title">Mission</h6>
                <h2 class="title">Our Mission</h2>
                <p class="title-paragraph">
                  To make sure you receive the highest standards of care
                  services that is person-centred/personalised, meets your
                  outcomes and enable you to achieve to maintain independent
                  living. <br><br>
                  
                  Ensure that you receive a safe, caring and responsive
                  service, that our carers understand your needs and have the
                  required knowledge and skills to support our clients. <br><br>
                  
                  Maintain our responsibility to promote your privacy and dignity,
                  respect your private space, provide help with intimate tasks
                  discretely and ensure confidentiality of your personal
                  information. <br><br>
                  
                  That you continue to have the right to choose,
                  for example, who looks after you, where you spend your time,
                  who are your regular companions and what activities you are
                  involved in. Having choice helps to promote your independence
                  and relationships. We strongly feel that everyone has the
                  right to be treated with dignity, respect, choice, to be cared
                  for or supported to meet their essential needs even if
                  everything has to be done for them. Having this mission at the
                  core of our service enables us to provide only the best of
                  services to all our clients. Where we feel we are unable to
                  meet a particularly need we make this clear so that our
                  mission is upheld at all times.
                </p>
              </div>
             
            </div>
         
          </div>
        </div>
      </section>
      
      <!-- skill-area-end -->

      <section class="skill-area pt-10 pb-20 mb-0">
        <div class="container">
          <div class="col align-items-center">
            <div class="col-lg-12">
              <div class="section-title mb-50">
                <h6 class="sub-title">Ethics</h6>
                <h2 class="title">Ethos & Philosophy</h2>
                <p class="title-paragraph">
                ALL4ONE CARE SERVICES LIMITED believes that each client has the fundamental right to: <br><br>
                  
                <strong>&#8226;</strong> Be regarded as an individual and given our special attention<br>
                <strong>&#8226;</strong> Be cared for by people who are capable of understanding their needs<br>
                <strong>&#8226;</strong> Be treated equally, and no less favourably than others<br>
                <strong>&#8226;</strong> Receive respect and understanding regarding their cultural, religious and spiritual beliefs<br>
                <strong>&#8226;</strong> Be informed about all important decisions that affect them if applicable, and to have a say<br>
                <strong>&#8226;</strong> Encourage our clients to complain about anything they feel is unfair or unjust, and to have that complaint listened and responded to<br>
                <strong>&#8226;</strong> Promoting independent living, working within your range of abilities and competencies<br>
                <strong>&#8226;</strong> Ensuring that your confidential information is protected at all times and only shared with others strictly in accordance with our policy on confidentiality<br>
                <strong>&#8226;</strong> Respecting and involving people who use services<br>
                <strong>&#8226;</strong> We see all our clients at the centre of our service. We ensure that our clients and their representatives understand our service information guide by using simple, easily understood English language.<br>
                <strong>&#8226;</strong> We work hard to promote independent living by supporting and encouraging our clients to maintain and enhance their abilities. We believe that our clients views are important and should be listened and responded to.<br>
                </p>
              </div>
              <div class="skill-wrap skill-style-two">
                <div class="single-skill-item">
                  <h6>Friendly companionship</h6>
                  <div class="progress">
                    <div
                      class="progress-bar wow slideInLeft"
                      data-wow-duration="2s"
                      data-wow-delay=".2s"
                      role="progressbar"
                      style="width: 75%"
                      aria-valuenow="75"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      <span>75%</span>
                    </div>
                  </div>
                </div>
                <div class="single-skill-item">
                  <h6>elderly care service</h6>
                  <div class="progress">
                    <div
                      class="progress-bar wow slideInLeft"
                      data-wow-duration="2s"
                      data-wow-delay=".4s"
                      role="progressbar"
                      style="width: 90%"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      <span>90%</span>
                    </div>
                  </div>
                </div>
                <div class="single-skill-item">
                  <h6>personal care</h6>
                  <div class="progress">
                    <div
                      class="progress-bar wow slideInLeft"
                      data-wow-duration="2s"
                      data-wow-delay=".6s"
                      role="progressbar"
                      style="width: 65%"
                      aria-valuenow="65"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      <span>65%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </section>

      <!-- services-area -->
      <section class="services-area cerise-bg pt-120 pb-65">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
              <div class="section-title full-white-title text-center mb-70">
                <h6 class="sub-title">services</h6>
                <h2 class="title">Our Amenities & how it looks like</h2>
              </div>
            </div>
          </div>
          <div class="row justify-content-center justify-content-lg-between">
            <div class="services-item services-style-two text-center mb-50">
              <div class="service-icon">
                <img src="/assets/img/icon/services_icon01.png" alt="" />
              </div>
              <div class="service-content">
                <h3>
                  <a href="/services-details">DEMENTIA FACILITIES</a>
                </h3>
              </div>
            </div>
            <div class="services-item services-style-two text-center mb-50">
              <div class="service-icon">
                <img src="/assets/img/icon/services_icon02.png" alt="" />
              </div>
              <div class="service-content">
                <h3>
                  <a href="/services-details">MENTAL HEALTH FACILITIES</a>
                </h3>
              </div>
            </div>
            <div class="services-item services-style-two text-center mb-50">
              <div class="service-icon">
                <img
                  style="object-fit: contain; height: 100px"
                  src="/assets/img/imageIcons/learning-facility.png"
                  alt=""
                />
              </div>
              <div class="service-content">
                <h3>
                  <a href="/services-details">LEARNING FACILITIES</a>
                </h3>
              </div>
            </div>
            <div class="services-item services-style-two text-center mb-50">
              <div class="service-icon">
                <img src="/assets/img/icon/services_icon04.png" alt="" />
              </div>
              <div class="service-content">
                <h3>
                  <a href="/services-details">OLD AGED FACILITIES</a>
                </h3>
              </div>
            </div>
            <div class="services-item services-style-two text-center mb-50">
              <div class="service-icon">
                <img src="/assets/img/icon/services_icon05.png" alt="" />
              </div>
              <div class="service-content">
                <h3>
                  <a href="/services-details">Neurological SERVICES</a>
                </h3>
              </div>
            </div>
            <div class="services-item services-style-two text-center mb-50">
              <div class="service-icon">
                <img
                  style="object-fit: contain; height: 100px"
                  src="/assets/img/imageIcons/learning-facility.png"
                  alt=""
                />
              </div>
              <div class="service-content">
                <h3>
                  <a href="/services-details">OTHER FACILITIES</a>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- services-area-end -->

      <!-- team-area -->
      <!-- <section class="team-area team-bg pt-120 pb-90">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="section-title text-center mb-70">
                <h6 class="sub-title">team</h6>
                <h2 class="title">our expert team</h2>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
              <div class="team-box text-center mb-30">
                <div class="team-thumb position-relative">
                  <a href="team-details.html"
                    ><img src="/assets/img/team/team_thumb01.jpg" alt=""
                  /></a>
                  <ul class="team-social">
                    <li><a href="#" class="plus-minus-icon"></a></li>
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-behance"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="team-content">
                  <span>founder</span>
                  <h4><a href="team-details.html">taye oyelekan</a></h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
              <div class="team-box text-center mb-30">
                <div class="team-thumb position-relative">
                  <a href="team-details.html"
                    ><img src="/assets/img/team/team_thumb02.jpg" alt=""
                  /></a>
                  <ul class="team-social">
                    <li><a href="#" class="plus-minus-icon"></a></li>
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-behance"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="team-content">
                  <span>Developer</span>
                  <h4><a href="team-details.html">taye oyelekan</a></h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
              <div class="team-box text-center mb-30">
                <div class="team-thumb position-relative">
                  <a href="team-details.html"
                    ><img src="/assets/img/team/team_thumb03.jpg" alt=""
                  /></a>
                  <ul class="team-social">
                    <li><a href="#" class="plus-minus-icon"></a></li>
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-behance"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="team-content">
                  <span>Designer</span>
                  <h4><a href="team-details.html">taye oyelekan</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- team-area-end -->

      <!-- advice-call-area -->
      <div class="advice-call-area free-quote-area pt-120">
        <div class="container">
          <div class="free-quote-wrap">
            <div class="row no-gutters align-items-center">
              <div class="col-lg-6">
                <div
                  class="free-quote-img"
                  data-background="/assets/img/images/advice_call_img.jpg"
                ></div>
              </div>
              <div class="col-lg-6">
                <div class="free-quote-content">
                  <h6>Need clinical advice?</h6>
                  <h2><a href="tel:+44 (0) 1708987738">Call +44 (0) 1708987738</a></h2>
                </div>
              </div>
            </div>
            <div class="free-quote-icon">
              <img
                class="rotate"
                src="/assets/img/icon/advice_icon.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <!-- advice-call-area -->

      <!-- video-area -->
      <div
      style="margin-bottom: 120px;"
        class="video-area video-bg"
        data-background="/assets/img/images/main-image.jpg"
      >
        <!-- <div class="video-play-box">
          <a
            href="https://www.youtube.com/watch?v=YPF_KMixLNE"
            class="popup-video"
            ><i class="fas fa-play"></i
          ></a>
        </div> -->
      </div>
      <!-- video-area-end -->

      <!-- cta-area -->
      <section class="cta-area cta-area-padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="section-title mb-40">
                <h6 class="sub-title">contact</h6>
                <h2 class="title">get in touch</h2>
                <p class="title-paragraph">
                "Feel free to reach out to us with any questions or inquiries about our services. Our dedicated team is available around the clock to provide prompt assistance and address any concerns you may have. Your satisfaction is our priority, and we're here to ensure you have the best experience possible. Thank you for considering us!"
                    
                </p>
              </div>
              <div class="cta-contact-list">
                <ul>
                  <li>
                    <div class="icon">
                      <i class="flaticon-phone-call"></i>
                    </div>
                    <div class="content">
                      <h6>call us</h6>
                      <h4><a href="tel:+44 (0) 1708987738">+44 (0) 1708987738</a></h4>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="flaticon-email-1"></i>
                    </div>
                    <div class="content">
                      <h6>email us</h6>
                      <h6><a href="mailto:info@all4onecareservices.co.uk">INFO@ALL4ONECARESERVICES.CO.UK</a></h6>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="flaticon-wall-clock"></i>
                    </div>
                    <div class="content">
                      <h6>Opening hours</h6>
                      <h4>24hrs</h4>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="cta-form-two">
                <div class="section-title white-title mb-40">
                  <h6 class="sub-title">cta</h6>
                  <h2 class="title">get in touch</h2>
                </div>
                <form id="getInTouchForm">
                  <div class="form-grp">
                    <i class="fal fa-user"></i>
                    <input id="getintouch-name" type="text" placeholder="enter your name" />
                  </div>
                  <div class="form-grp">
                    <i class="fal fa-envelope"></i>
                    <input id="getintouch-email" type="email" placeholder="enter email address" />
                  </div>
                  <div class="form-grp">
                    <i class="fal fa-book"></i>
                    <select id="getintouch-reason" class="custom-select">
                      <option selected="">Select Subject</option>
                      <option>medical care</option>
                      <option>resident care</option>
                      <option>independent</option>
                      <option>memory care</option>
                      <option>other</option>
                    </select>
                  </div>
                  <div class="form-grp">
                    <i class="fal fa-pencil-alt"></i>
                    <textarea
                      name="message"
                      id="getintouch-message"
                      placeholder="your message must be atleast 10 words"
                    ></textarea>
                  </div>
                  <div class="form-grp-btn">
                    <button id="getintouch-submit" class="btn">Submit</button>
                  </div>
                </form>
                <div class="cta-form-overlay-icon">
                  <img
                    src="/assets/img/icon/overlay_envelope_icon.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- cta-area-end -->

      <!-- blog-area -->
      <!-- <section class="blog-area pt-120 pb-70">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="section-title text-center mb-70">
                <h6 class="sub-title">blog</h6>
                <h2 class="title">news feeds</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
              <div class="blog-post-item bp-style-two mb-30">
                <div class="blog-post-thumb position-relative">
                  <a href="blog-details.html"
                    ><img src="/assets/img/blog/s_blog_thumb01.jpg" alt=""
                  /></a>
                  <a href="#" class="overlay-post-tag">senior care</a>
                </div>
                <div class="blog-post-content">
                  <h2>
                    <a href="blog-details.html"
                      >Vue Router is the official router for Vue that.</a
                    >
                  </h2>
                  <div class="blog-post-meta">
                    <ul>
                      <li>
                        <i class="fal fa-user"></i>By <a href="#">Admin</a>
                      </li>
                      <li>
                        <i class="fal fa-calendar-alt"></i> 24th june 2021
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
              <div class="blog-post-item bp-style-two mb-30">
                <div class="blog-post-thumb position-relative">
                  <a href="blog-details.html"
                    ><img src="/assets/img/blog/s_blog_thumb02.jpg" alt=""
                  /></a>
                  <a href="#" class="overlay-post-tag">senior care</a>
                </div>
                <div class="blog-post-content">
                  <h2>
                    <a href="blog-details.html"
                      >Vue Router is the official router for Vue that.</a
                    >
                  </h2>
                  <div class="blog-post-meta">
                    <ul>
                      <li>
                        <i class="fal fa-user"></i>By <a href="#">Admin</a>
                      </li>
                      <li>
                        <i class="fal fa-calendar-alt"></i> 24th june 2021
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
              <div class="blog-post-item bp-style-two mb-30">
                <div class="blog-post-thumb position-relative">
                  <a href="blog-details.html"
                    ><img src="/assets/img/blog/s_blog_thumb03.jpg" alt=""
                  /></a>
                  <a href="#" class="overlay-post-tag">senior care</a>
                </div>
                <div class="blog-post-content">
                  <h2>
                    <a href="blog-details.html"
                      >Vue Router is the official router for Vue that.</a
                    >
                  </h2>
                  <div class="blog-post-meta">
                    <ul>
                      <li>
                        <i class="fal fa-user"></i>By <a href="#">Admin</a>
                      </li>
                      <li>
                        <i class="fal fa-calendar-alt"></i> 24th june 2021
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- blog-area-end -->

      <!-- free-quote-area -->
      <div class="free-quote-area free-quote-two">
        <div class="container">
          <div class="free-quote-wrap">
            <div class="row no-gutters align-items-center">
              <div class="col-lg-6">
                <div
                  class="free-quote-img"
                  data-background="/assets/img/images/free_quote_img.jpg"
                ></div>
              </div>
              <div class="col-lg-6">
                <div class="free-quote-content">
                  <h4>Get free quote</h4>
                  <p>
                    Discover your personalized care solution today. Get a free quote
                  </p>
                </div>
              </div>
            </div>
            <div class="free-quote-icon">
              <i class="flaticon-headphones"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- free-quote-area-end -->
    </main>
    <!-- main-area-emd -->

    <!-- footer-area -->
    <%- include('../partials/footer'); %>
    <!-- footer-area-end -->

    <!-- JS here -->
    <%- include('../partials/scripts'); %>

  </body>

</html>
