<!doctype html>
<html class="no-js" lang="zxx">
    
<!-- Mirrored from ifingerstudio.com/templates/ALL4ONE-html/services.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 25 Feb 2024 10:23:54 GMT -->
<%- include('../partials/head'); %>

    <body>
        <!-- preloader-start -->
        <div id="preloader">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_four"></div>
                </div>
            </div>
        </div>
        <!-- preloader-end -->



        <!-- header-area -->
        <%- include('../partials/header'); %>

        <!-- header-area-end -->

        <!-- main-area -->
        <main>
            <%- include('../partials/cookiesperm'); %>
            <!-- breadcrumb-area -->
            <section class="breadcrumb-area"> 
                <div class="breadcrumb-bg" data-background="assets/img/images/royaltyfree/doctor-taking-care-senior-woman-home_23-2148962376.png"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">Our Services</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Services</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- services-area -->
            <section class="services-area pt-120 pb-90">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-3 col-lg-4 pointer col-md-6 col-sm-8">
                            <div class="services-item text-center mb-30">
                                <div class="services-overlay-icon"><i class="flaticon-capsules"></i></div>
                                <div class="service-content">
                                    <h6 class="count">01</h6>
                                    <h3><a href="/services-details#neurological">Neurological Care</a></h3>
                                    <p>Home care for Neurologically challenged individuals (Young to Adults)</p>
                                </div>
                                <div class="service-icon">
                                    <i class="flaticon-capsules"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 pointer col-md-6 col-sm-8">
                            <div class="services-item text-center mb-30">
                                <div class="services-overlay-icon"><i class="flaticon-old-man"></i></div>
                                <div class="service-content">
                                    <h6 class="count">02</h6>
                                    <h3><a href="/services-details#dementia">dementia Patients</a></h3>
                                    <p>Home care for specialist dementia service users</p>
                                </div>
                                <div class="service-icon">
                                    <i class="flaticon-old-man"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 pointer col-md-6 col-sm-8">
                            <div class="services-item text-center mb-30">
                                <div class="services-overlay-icon"><i class="flaticon-pinwheel"></i></div>
                                <div class="service-content">
                                    <h6 class="count">03</h6>
                                    <h3><a href="/services-details#parkinson">Parkinson’s Disease</a></h3>
                                    <p>Home care for persons with parkinson disease</p>
                                </div>
                                <div class="service-icon">
                                    <i class="flaticon-pinwheel"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 pointer col-md-6 col-sm-8">
                            <div class="services-item text-center mb-30">
                                <div class="services-overlay-icon"><i class="flaticon-clock"></i></div>
                                <div class="service-content">
                                    <h6 class="count">04</h6>
                                    <h3><a href="/services-details#brain-stroke">Brain Injury and Stroke</a></h3>
                                    <p>Home care for persons with brain injuries and Stroke (non-medical Care)</p>
                                </div>
                                <div class="service-icon">
                                    <i class="flaticon-clock"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 pointer col-md-6 col-sm-8">
                            <div class="services-item text-center mb-30">
                                <div class="services-overlay-icon"><i class="flaticon-doctor"></i></div>
                                <div class="service-content">
                                    <h6 class="count">05</h6>
                                    <h3><a href="/services-details#spinal-stroke">Spinal Injury Patients</a></h3>
                                    <p>Home care for persons with spinal stroke</p>
                                </div>
                                <div class="service-icon">
                                    <i class="flaticon-doctor"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 pointer col-md-6 col-sm-8">
                            <div class="services-item text-center mb-30">
                                <div class="services-overlay-icon"><i class="flaticon-friend"></i></div>
                                <div class="service-content">
                                    <h6 class="count">06</h6>
                                    <h3><a href="/services-details#end-life">End of Life (Elderly)</a></h3>
                                    <p>Home care for End-of-life Care service users</p>
                                </div>
                                <div class="service-icon">
                                    <i class="flaticon-friend"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 pointer col-md-6 col-sm-8">
                            <div class="services-item text-center mb-30">
                                <div class="services-overlay-icon"><i class="flaticon-support"></i></div>
                                <div class="service-content">
                                    <h6 class="count">07</h6>
                                    <h3><a href="/services-details#learning-disabled">Learning Disability</a></h3>
                                    <p>Home care for Learning Disabilities and Special needs service users</p>
                                </div>
                                <div class="service-icon">
                                    <i class="flaticon-support"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 pointer col-md-6 col-sm-8">
                            <div class="services-item text-center mb-30">
                                <div class="services-overlay-icon"><i class="flaticon-family"></i></div>
                                <div class="service-content">
                                    <h6 class="count">08</h6>
                                    <h3><a href="/services-details#respite">Respite</a></h3>
                                    <p>Home care for persons looking for respite</p>
                                </div>
                                <div class="service-icon">
                                    <i class="flaticon-family"></i>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-3 col-lg-4 pointer col-md-6 col-sm-8">
                            <div class="services-item text-center mb-30">
                                <div class="services-overlay-icon"><i class="flaticon-friend"></i></div>
                                <div class="service-content">
                                    <h6 class="count">09</h6>
                                    <h3><a href="/services-details#convalescent">Convalescent Care</a></h3>
                                    <!-- <p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor incidid.</p> -->
                                </div>
                                <div class="service-icon">
                                    <i class="flaticon-friend"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 pointer col-md-6 col-sm-8">
                            <div class="services-item text-center mb-30">
                                <div class="services-overlay-icon"><i class="flaticon-support"></i></div>
                                <div class="service-content">
                                    <h6 class="count">10</h6>
                                    <h3><a href="/services-details#discharge">Hospital Discharges</a></h3>
                                    <p>Home care for recently discharged out-patients</p>
                                </div>
                                <div class="service-icon">
                                    <i class="flaticon-support"></i>
                                </div>
                            </div>
                        </div> 
                        <div class="col-xl-3 col-lg-4 pointer col-md-6 col-sm-8">
                            <div class="services-item text-center mb-30">
                                <div class="services-overlay-icon"><i class="flaticon-family"></i></div>
                                <div class="service-content">
                                    <h6 class="count">11</h6>
                                    <h3><a href="/services-details#concerned">Behaviours of Concern</a></h3>
                                    <p>Home care for persons with behaviours of concern</p>
                                </div>
                                <div class="service-icon">
                                    <i class="flaticon-family"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- services-area-end -->

            <!-- skill-area -->
            <section class="third-skill-area skill-bg" data-background="img/bg/t_skill_bg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-8 col-md-10">
                            <div class="section-title white-title mb-40">
                                <h6 class="sub-title">skills</h6>
                                <h2 class="title">Our Amenities &amp; how it looks like</h2>
                                <p class="title-paragraph">
                                    Our care home is meticulously designed to provide a nurturing environment with a comprehensive range of amenities tailored to meet the diverse needs of our residents. From spacious living quarters to state-of-the-art medical facilities, we prioritize comfort, safety, and well-being above all else. Our dedicated team ensures that every resident receives personalized care and attention, fostering a sense of belonging and community. At our care home, we are fully equipped to provide the highest standard of care, ensuring a fulfilling and enriching experience for all.
                                </p>
                            </div>
                            <a href="/appointment" class="btn">Make Appointment</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- skill-area-end -->

            <!-- blog-area -->
            <!-- <section class="blog-area pt-120 pb-70">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="section-title text-center mb-70">
                                <h6 class="sub-title">blog</h6>
                                <h2 class="title">news feeds</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container custom-container">
                    <div class="row blog-active">
                        <div class="col-lg-6">
                            <div class="blog-post-item bp-style-one mb-50">
                                <div class="blog-post-thumb">
                                    <a href="blog-details.html">
                                        <img src="/assets/img/blog/blog_thumb01.jpg" alt="">
                                        <div class="overlay-post-date">23 <span>jan</span></div>
                                    </a>
                                </div>
                                <div class="blog-post-content">
                                    <div class="blog-post-tag">
                                        <a href="#">senior,</a>
                                        <a href="#">care,</a>
                                        <a href="#">health</a>
                                    </div>
                                    <h2><a href="blog-details.html">Lorem ipsum dolor sit am et, consectetur</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore magna.</p>
                                    <div class="blog-post-avatar">
                                        <div class="thumb"><img src="/assets/img/blog/blog_post_avatar.jpg" alt=""></div>
                                        <div class="info">
                                            <h6>Posted By <a href="#">Will smith</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="blog-post-item bp-style-one mb-50">
                                <div class="blog-post-thumb">
                                    <a href="blog-details.html">
                                        <img src="/assets/img/blog/blog_thumb02.jpg" alt="">
                                        <div class="overlay-post-date">20 <span>jan</span></div>
                                    </a>
                                </div>
                                <div class="blog-post-content">
                                    <div class="blog-post-tag">
                                        <a href="#">senior,</a>
                                        <a href="#">care,</a>
                                        <a href="#">health</a>
                                    </div>
                                    <h2><a href="blog-details.html">Lorem ipsum dolor sit am et, consectetur</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore magna.</p>
                                    <div class="blog-post-avatar">
                                        <div class="thumb"><img src="/assets/img/blog/blog_post_avatar.jpg" alt=""></div>
                                        <div class="info">
                                            <h6>Posted By <a href="#">Will smith</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="blog-post-item bp-style-one mb-50">
                                <div class="blog-post-thumb">
                                    <a href="blog-details.html">
                                        <img src="/assets/img/blog/blog_thumb03.jpg" alt="">
                                        <div class="overlay-post-date">18 <span>jan</span></div>
                                    </a>
                                </div>
                                <div class="blog-post-content">
                                    <div class="blog-post-tag">
                                        <a href="#">senior,</a>
                                        <a href="#">care,</a>
                                        <a href="#">health</a>
                                    </div>
                                    <h2><a href="blog-details.html">Lorem ipsum dolor sit am et, consectetur</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore magna.</p>
                                    <div class="blog-post-avatar">
                                        <div class="thumb"><img src="/assets/img/blog/blog_post_avatar.jpg" alt=""></div>
                                        <div class="info">
                                            <h6>Posted By <a href="#">Will smith</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
            <!-- blog-area-end -->

        </main>
        <!-- main-area-emd -->



        <!-- footer-area -->
<%- include('../partials/footer'); %>
<!-- footer-area-end -->
<!-- JS here -->
<%- include('../partials/scripts'); %>
        
    </body>

<!-- Mirrored from ifingerstudio.com/templates/ALL4ONE-html/services.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 25 Feb 2024 10:23:54 GMT -->
</html>
