<!doctype html>
<html class="no-js" lang="zxx">
    
<%- include('../partials/head'); %>
    <body>


        <!-- preloader-start -->
        <div id="preloader">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_four"></div>
                </div>
            </div>
        </div>
        <!-- preloader-end -->



        <%- include('../partials/header'); %>

        <!-- main-area -->
        <main>
            <%- include('../partials/cookiesperm'); %>
            <!-- breadcrumb-area -->
            <section class="breadcrumb-area">
                <div class="breadcrumb-bg"       data-background="assets/img/images/royaltyfree/doctor-taking-care-senior-woman-home_23-2148962376.png"
></div>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">team details</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">team details</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- team-details-area -->
            <section class="team-details-area pt-120 pb-120">
                <div class="container">
                    <div class="row align-items-xl-center">
                        <div class="col-lg-6">
                            <div class="team-details-img">
                                <img src="<%= teamMember.imageUrl %>" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="team-details-content">
                                <div class="section-title mb-25">
                                    <h6 class="sub-title"><%= teamMember.position %></h6>
                                    <h2 class="title"><%= teamMember.name %></h2>
                                    <p class="title-paragraph"><%= teamMember.about1 %></p>
                                </div>
                                <p><%= teamMember.about2 %></p>
                                <div class="team-details-info">
                                    <ul>
                                        <li>
                                            <span>Address</span>
                                            <%= teamMember.address %>
                                        </li>
                                        <li>
                                            <span>Email</span>
                                            <%= teamMember.email %>
                                        </li>
                                        <li>
                                            <span>Phone</span>
                                            <%= teamMember.phone %>
                                        </li>
                                    </ul>
                                </div>
                                <div class="team-details-social footer-social">
                                    <ul>
                                        <li><a href="<%= teamMember?.facebook %>"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="<%= teamMember?.twitter %>"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                        <li><a href="<%= teamMember?.youtube %>"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- team-details-area-end -->

            <!-- testimonial-area -->
            <section class="testimonial-area position-relative gray-bg pt-120 pb-120">
                <div class="testi-bg" data-background="/assets/img/bg/testi_bg.jpg"></div>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-8 col-lg-7 order-0 order-lg-2">
                            <div class="testimonial-active">
                                <div class="testimonial-item">
                                    <div class="testimonial-thumb">
                                        <img src="/assets/img/images/testi_img.jpg" alt="">
                                    </div>
                                    <div class="testimonial-content">
                                        <div class="testi-quote-icon">
                                            <i class="flaticon-quotation"></i>
                                        </div>
                                        <h2>Welcome to our care home, where compassion meets excellence. Join us in providing exceptional care and creating meaningful moments for our residents every day.</h2>
                                        <!-- <div class="testi-avatar-info">
                                            <span>founder</span>
                                            <h4>taye oyelekan</h4>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="testimonial-item">
                                    <div class="testimonial-thumb">
                                        <img src="/assets/img/images/testi_img.jpg" alt="">
                                    </div>
                                    <div class="testimonial-content">
                                        <div class="testi-quote-icon">
                                            <i class="flaticon-quotation"></i>
                                        </div>
                                        <h2>Lorem ipsum dolor sit amet, co nsectetur adipisicing elit, sed do eiusmod tempor
                                            incididunt.</h2>
                                        <!-- <div class="testi-avatar-info">
                                            <span>founder</span>
                                            <h4>taye oyelekan</h4>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="testimonial-item">
                                    <div class="testimonial-thumb">
                                        <img src="/assets/img/images/testi_img.jpg" alt="">
                                    </div>
                                    <div class="testimonial-content">
                                        <div class="testi-quote-icon">
                                            <i class="flaticon-quotation"></i>
                                        </div>
                                        <h2>Lorem ipsum dolor sit amet, co nsectetur adipisicing elit, sed do eiusmod tempor
                                            incididunt.</h2>
                                        <!-- <div class="testi-avatar-info">
                                            <span>founder</span>
                                            <h4>yalgaar h. halim</h4>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="testimonial-item">
                                    <div class="testimonial-thumb">
                                        <img src="/assets/img/images/testi_img.jpg" alt="">
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5">
                            <div class="testi-avatar-active">
                            
                                <div class="testi-avatar-box">
                                    <div class="testi-avatar-thumb">
                                        <img src="/assets/img/images/testi_avatar03.jpg" alt="">
                                    </div>
                                    <!-- <div class="testi-avatar-content">
                                        <span>founder</span>
                                        <h4>taye o oyelekan</h4>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- testimonial-area-end -->

            <!-- blog-area -->
            <section class="blog-area pt-120 pb-90">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="section-title text-center mb-70">
                                <h6 class="sub-title">blog</h6>
                                <h2 class="title">news feeds</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-lg-4 col-md-8 col-sm-10">
                            <div class="blog-post-item bp-style-two bp-style-three mb-30">
                                <div class="blog-post-thumb position-relative">
                                    <a href="blog-details.html"><img src="/assets/img/blog/t_blog_thumb01.jpg" alt=""></a>
                                    <a href="#" class="overlay-post-tag">senior care</a>
                                </div>
                                <div class="blog-post-content">
                                    <div class="blog-post-meta">
                                        <ul>
                                            <li><i class="fal fa-user"></i>By <a href="#">Admin</a></li>
                                            <li><i class="fal fa-calendar-alt"></i> 20th February 2024</li>
                                        </ul>
                                    </div>
                                    <h2><a href="blog-details.html">Preliminary Results of One of the first Empirical Academic</a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-8 col-md-12 col-sm-10">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="blog-post-item bp-style-two bp-style-three mb-30">
                                        <div class="blog-post-thumb position-relative">
                                            <a href="blog-details.html"><img src="/assets/img/blog/t_blog_thumb02.jpg" alt=""></a>
                                            <a href="#" class="overlay-post-tag">senior care</a>
                                        </div>
                                        <div class="blog-post-content">
                                            <div class="blog-post-meta">
                                                <ul>
                                                    <li><i class="fal fa-user"></i>By <a href="#">Admin</a></li>
                                                    <li><i class="fal fa-calendar-alt"></i> 20th February 2024</li>
                                                </ul>
                                            </div>
                                            <h2><a href="blog-details.html">Preliminary Results of One of the first</a></h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="blog-post-item bp-style-two bp-style-three mb-30">
                                        <div class="blog-post-thumb position-relative">
                                            <a href="blog-details.html"><img src="/assets/img/blog/t_blog_thumb03.jpg" alt=""></a>
                                            <a href="#" class="overlay-post-tag">senior care</a>
                                        </div>
                                        <div class="blog-post-content">
                                            <div class="blog-post-meta">
                                                <ul>
                                                    <li><i class="fal fa-user"></i>By <a href="#">Admin</a></li>
                                                    <li><i class="fal fa-calendar-alt"></i> 20th February 2024</li>
                                                </ul>
                                            </div>
                                            <h2><a href="blog-details.html">Preliminary Results of One of the first</a></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- blog-area-end -->

        </main>
        <!-- main-area-emd -->



      <!-- footer-area -->
    <%- include('../partials/footer'); %>
    <!-- footer-area-end -->
    <!-- JS here -->
    <%- include('../partials/scripts'); %>
         
  
    </body>

<!-- Mirrored from ifingerstudio.com/templates/wellpress-html/team-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 25 Feb 2024 10:23:51 GMT -->
</html>
